<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividades</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <main class="container">
        <h1 style="text-align:center; color: var(--primary-green);">Mundo das Atividades</h1>
        <div class="categorias_container">
            <div class="categoria atividades">
                <h3>🔢 Desafio de Matemática</h3>
                <p>Quanto é 5 + 5? Clique no número certo!</p>
                <button class="btn" onclick="alert('Parabéns! Você acertou!')">10</button>
                <button class="btn" onclick="alert('Quase lá! Tente de novo.')">12</button>
            </div>
            <div class="categoria historias">
                <h3>🦁 Curiosidade Animal</h3>
                <p>Você sabia que o coração de um camarão fica na cabeça?</p>
            </div>
        </div>
    </main>
</body>

</html>