<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprender Brincando</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <h1>Aprender Brincando</h1>
    <p>Este é um site para aprender brincando! Aqui você encontrará jogos, atividades e recursos educativos para
        crianças de todas as idades (foco no público de 6 a 9 anos). Explore nosso conteúdo e divirta-se
        aprendendo!</p>
    <h2>O que você pode encontrar aqui:</h2>
    <header class="header">
        <div class="container">
            <nav class="menu">
                <div class="menu-div">
                    <a class="atividades-link" href="atividades.html">Atividades Educativas</a></li>
                    <a class="historias-link" href="historias.html">Histórias e Contos Infantis</a></li>
                    <a class="jogos-link" href="jogos.html">Jogos Interativos</a></li>
                    <a class="recursos-link" href="recursos.html">Recursos para Pais e Professores</a></li>
                    <a class="contato-link" href="contato.html">Contato</a></li>
                </div>
            </nav>
        </div>
    </header>
    </div>
    <h2>Explore e divirta-se aprendendo!Seja bem-vindo ao nosso site!</h2>
    <section class="section-categorias">
        <div class="categorias_container">
            <div class="categoria jogos">
                <h3>Jogos Interativos</h3>
                <a href="jogos.html"><img src="../image/jogos.png" alt="Jogos Interativos"></a>
                <p>Descubra uma variedade de jogos educativos que tornam o aprendizado divertido e envolvente para
                    crianças de 6 a 9 anos. Nossos jogos são projetados para estimular a criatividade, o pensamento
                    crítico e as habilidades cognitivas, proporcionando uma experiência de aprendizado lúdica e eficaz.
                </p>
                <a href="jogos.html" class="btn">Explore os Jogos</a>
            </div>
            <div class="categoria atividades">
                <h3>Atividades Educativas</h3>
                <a href="atividades.html"><img src="../image/atividades.png" alt="Atividades Educativas"></a>
                <p>Encontre uma coleção de atividades educativas que promovem o desenvolvimento cognitivo, social e
                    emocional das crianças. Nossas atividades são cuidadosamente elaboradas para serem divertidas e
                    instrutivas, ajudando as crianças a aprenderem de maneira prática e envolvente.</p>
                <a href="atividades.html" class="btn">Explore as Atividades</a>
            </div>
            <div class="categoria historias">
                <h3>Histórias e Contos Infantis</h3>
                <a href="historias.html"><img src="../image/historias.png" alt="Histórias e Contos Infantis"></a>
                <p>Explore uma seleção encantadora de histórias e contos infantis que capturam a imaginação das
                    crianças. Nossas histórias são projetadas para entreter e educar, promovendo o amor pela leitura e
                    estimulando a criatividade dos pequenos leitores.</p>
                <a href="historias.html" class="btn">Explore as Histórias</a>
            </div>
            <div class="categoria recursos">
                <h3>Recursos para Pais e Professores</h3>
                <a href="recursos.html"><img src="../image/recursos.png"
                        alt="Recursos para Pais e Professores"></a>
                <p>Oferecemos uma variedade de recursos para pais e professores, incluindo guias de atividades, dicas de
                    ensino e materiais educativos. Nossos recursos são projetados para apoiar o desenvolvimento das
                    crianças e facilitar o processo de ensino-aprendizagem, proporcionando ferramentas valiosas para
                    educadores e cuidadores.</p>
                <a href="recursos.html" class="btn">Explore os Recursos</a>
            </div>
    </section>
    <footer class="footer" fic>
        <div class="container">
            <p>&copy; 2026 Aprender Brincando-Vanderléia Mello. Todos os direitos reservados.</p>
        </div>
</body>

</html>